*
    // box-sizing border-box

body
    margin 0
    font-family Arial

    div.content
        h1
            margin 10px 0
        margin 0 15px

body.dark
    background-color #282C34
    color #DADADA

img
    // to fix chrome's images blurring
    image-rendering -webkit-optimize-contrast
    transform translateZ(0)

.lobby-name
    transition 0.2s ease color
    cursor pointer;
.lobby-name:hover
    color orange

.hidden
    display none !important

.volume-control
    display flex

a
    color inherit
    transition 0.2s ease all

a:hover
    color orange

div.lobby
    div.members
        margin-left 32px
        div.member.speaking
            div.user-bar
                div.username
                    transition-duration 0.1s !important
                    color orange
                    a
                        div.avatar
                            div.circle
                                transition-duration 0.1s !important
                                border 3px solid orange
        div.member
            margin-bottom 16px
            border-radius 8px
            overflow hidden
            div.user-bar
                display flex
                padding 4px
                height 32px
                background-color #1D1E1F
                line-height 32px
                div.username
                    transition 1s ease color
                    a
                        font-size 18px
                        text-decoration none
                        font-weight bold
                        display flex
                        div.username
                            margin-left 4px
                        div.avatar
                            position relative
                            border-radius 32px
                            overflow hidden
                            div.circle
                                position absolute
                                top 0
                                left 0
                                border-radius 32px
                                border 2px solid rgba(255, 255, 255, 0)
                                transition 1s ease border-color
                                box-sizing border-box
                                width 32px
                                height 32px
                                z-index 1000
                            img
                                display block
                                width 32px
                                height 32px
                div.controls
                    display flex
                    justify-content right
                    margin-left auto
                    flex-grow 1
                    div
                        margin-left 4px
                        input
                            height 28px
                            margin-left 6px;
                        svg
                            margin-top 4px
                            width 24px
                            height 24px
                            cursor pointer
                        svg:hover
                            color orange

footer
    text-align center
    color #CACACA
    background-color #151818
    padding 8px
